
body{
    background-color: #000563;
    text-align: center;
    text-decoration: none;

}
#wrapper{
     color: white;

 }
form{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
}
input{
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}
button{
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
}
.contact_form_input{

}

