img {
    max-width: 120px;
    max-height: 60px;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #000563;
}

nav li {
    float: left;

}
nav li a {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;

}

nav li a:hover {
    background-color: blue;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: blue;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #bit_img{
      margin: auto;
      width: 50%;

  }





body{
    background-color: #000563;
    
}




footer {
    background-color: darkslateblue;
    position: absolute;
    bottom: 0;
    width: 100%;


}
#wrapper{
    color: white ;
}
#contact_form{
    font-size: 25px;
    text-align: left;
    width: 50%;
    padding: 20px;
    float: left;
    margin: auto;
    width: 35%;
    margin-top: 50px;
    margin-left: 10%;
}
.contact_form_input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

#submit_button{
    height: 10%;
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
}

#contact_textarea{
    width: 100%;
    height: 20%;
    font-family: "Roobert", "Helvetica", "Arial", sans-serif;
}

#Klantenservice{
    float: right;
    margin-top: 18%;
}
